<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Reveal Together</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Reveal Together</a>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col col-12">
          <div class="card">
            <div class="card-body">
              <h1>Session Started!</h1>

              <p>
                A presentation session has been started for you. Share the links
                below with other people.
              </p>

              <h4><a href="{{ privateUrl }}">Control Presentation</a> ({{ controlling}} people controlling)</h4>
              <p>
                Let people control the presentation by sharing the following
                URL. They will be able to chnage the slides for everyone
                watching.
              </p>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  disabled="true"
                  value="{{ privateUrl }}"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="button-addon2"
                    onclick="navigator.clipboard.writeText('{{ privateUrl }}')"
                  >
                    Copy
                  </button>
                </div>
              </div>

              <h4><a href="{{ publicUrl }}">Watch Presentation</a> ({{ watching }} people watching)</h4>
              <p>
                Let people watch the presentation by sharing the following URL.
                Viewers will not be able to change the slide for everyone else but themselves.
              </p>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  disabled="true"
                  value="{{ publicUrl }}"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="button-addon2"
                    onclick="navigator.clipboard.writeText('{{ publicUrl }}')"
                  >
                    Copy
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
